html {
    box-sizing: border-box;
    background: #00365c;
    font-family: "EB Garamond";
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    transition:
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    font-size: 15px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    display: flex;
    flex-direction: column;
}

.panel1 { background-image:url(../images/Canada.jpg); }
.panel2 { background-image:url(../images/GreatBritain.jpg); }
.panel3 { background-image:url(../images/Ireland.jpg); }
.panel4 { background-image:url(../images/Japan.jpg); }
.panel5 { background-image:url(../images/Norway.jpg); }

  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {transform: translateY(-100%);}
.panel.open-active > *:first-child {transform: translateY(0);}
.panel > *:last-child {transform: translateY(100%);}
.panel.open-active > *:last-child {transform: translateY(0);}


.panel p {
    text-transform: uppercase;
    font-family: "EB Garamond";
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
}

.panel.open {
    flex: 5;
    font-size: 40px;
}